@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

html {
  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  }
}
#wrapper {
  overflow: hidden;
  background-color: #330033;
  height: 100vh;
  width: 100%;
  text-align: center;
  & > h4 {
    color: red;
  }
  #userContent {
    color: #ef5350;
    position: absolute;
    left: 47.5%;
  }
  .box_container {
    //.box:nth-child(odd) {
    //  width: 50px;
    //  height: 50px;
    //  background: #9ccc65;
    //  border-radius: 50%;
    //  border: 3px solid #8d6e63;
    //}
    //.box:nth-child(even) {
    //  width: 50px;
    //  height: 50px;
    //  background: yellow;
    //  border: 3px solid #8d6e63;
    //}
    .box {
      img {
        height: 40px;
      }
    }
  }
}

