@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

html {
  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  }
}
#wrapper_sp {
  overflow: hidden;
  background-color: #dfdfdf;
  height: 100vh;
  width: 100%;
  text-align: center;
  form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-weight: 800;
      font-size: 50px;
      color: #26c6da;
      text-transform: uppercase;
    }
    input {
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      border-bottom: 2px solid #26c6da;
      font-family: 'Great Vibes', cursive;
      font-size: 40px;
      text-align: center;
      &:hover, &:focus {
        outline: none;
      }
    }
  }
  #success {
    color: #26c6da;
    text-align: center;
    img {
      display: none;
      height: 200px;
      position: absolute;
      left: 15%;
    }
  }
}

